*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header{
    background-color: #222222;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: white;

}

.nav-bar{
    background-color: #F0A83E;
}

.list-pawprint {
    list-style-image: url('pawprintWhite.png');
}

.bg-orange{
    background-color: #F0A83E;
}

.bg-brown{
    background-color: #3C2313;
}
