:root{
  --turquesa: #00669F;
  --azul-oscuro: #001D2D;
  --verde-agua: #1CD1B0;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADER */
.descuentos{
  background-color: var(--verde-agua);
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
}

.main-header{
  background-color: var(--turquesa);
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
}

.logo {
  height: 75px;
  width: 100px;
}

header h1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  padding: 20px;
}

/* TARJETAS */
.contenedor-cards {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.card:hover {
  color: var(--turquesa);
}

div.card {
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 1rem;
  transition: all 0.5s;
  text-align: center;
}

div .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}


.card-body {
  margin-top: 20%;
  padding: 1.5rem;
}
.card-img-circle {
  position: absolute;
  top: 23%;
  left: 30%;
  border-radius: 50%;
}
.card-img-like {
  position: absolute;
  top: 5%;
  left: 5%;
}

button {
  padding: 20px;
  background-color: #005677;
  color: aliceblue;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
  
}

button:hover{
  background-color: rgba(0, 2, 36, 0.8);
}


.card-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.card-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
}

/* FOOTER */
footer {
  padding: 20px;
  background: var(--turquesa);
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
}
