@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

:root{
    --clr-salmon: #F3613C;
    --clr-salmon-bg: #eea492;
    --clr-dark-grey: #1E1E26;
    --clr-navy-blue: #232C50;
    --clr-butter-white: #ffffe2;
    --clr-light-gray: #B3B2B7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: var(--clr-butter-white);
}

/* dropdown menu */
header input {
    display: none;
}

header input:checked  ~ ul{
    display:block;
}

header label {
    display: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: var(--navy-blue);
    cursor: pointer;
}

input:checked ~ label {
    color: var(--clr-salmon);
}


/* - - - - - - - - -  HEADER - - - - - - - - -*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* evito stretch*/
    padding: 75px;
}

/* nav-list */
.nav-list ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list ul li a{
    margin-left: 28px;
    text-decoration: none;
    color: var(--clr-navy-blue);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.nav-list ul li a:hover{
    color: var(--clr-light-gray);
}

header img.logo{
    margin-left: 60px;
}

.button__get-started{
    border: none;
    cursor: pointer;
    background: var(--clr-salmon);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 12.5px 30.5px;
    margin-right: 100px;
    /* text */
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
}
.button__get-started:hover{
    background-color: var(--clr-navy-blue);
    box-shadow: 0px 4px 7px rgba(255, 101, 121, 0.25);
}


/* - - - - - - - - -  1st SECTION: 'banner' - - - - - - - - -*/
main section.banner{
    display: flex;
    flex-direction: row;
    margin: 50px 80px;
}

main section.banner img{
    margin-left: 100px;
}

main section.banner h6{
    color: var(--clr-navy-blue);
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 66px;
    margin-top: 80px;
}

main section.banner p{
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    margin-top: 28px;
    margin-bottom: 35px;
    padding-right: 140px;
    overflow: hidden;
    color: var(--clr-light-gray);
}

/* - - - - - - - - -  2nd SECTION: 'differences' - - - - - - - - -*/
main section.differences{
    display: flex;
    margin: 160px 80px;
}

main section.differences h5{
    color: var(--clr-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
}

main section.differences p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    margin-right: 120px;
    margin-top: 35px;
    color: var(--clr-light-gray);
}

/* numbered list */
main section.differences ol {
    counter-reset: salmon-number;
    list-style: none;
    margin-left: 150px;
}

main section.differences ol li {
    counter-increment: salmon-number;
    position: relative;
    margin-bottom: 60px;
}

main section.differences ol li::before {
    list-style-type: decimal-leading-zero;
    content: "0" counter(salmon-number);
    position: absolute;
    width: 69px;
    height: 43px;
    background: var(--clr-salmon);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 25px;
    /* numbers */
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

/* list text */
main section.differences li div{
    margin-left: 160px;
}

main section.differences li div h7 {
    color: var(--clr-navy-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}


main section.differences li div p {
    color: var(--clr-light-gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
}
/* - - - - - - - - -  3rd SECTION: 'experiences' - - - - - - - - -*/
main section.experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section.experiences h5{
    color: var(--clr-navy-blue);
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    margin-bottom: 70px;
}

main section.experiences div.slideshow-bar{
    display: none;
}

main section.experiences button{
    margin-left: 100px;
}
main section.experiences div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section.experiences div article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    padding: 30px 20px 0px;
    margin-bottom: 70px;
    
}

main section.experiences div article img {
    max-width: 70px;
}

main section.experiences div article span {
    color: var(--clr-navy-blue);
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    margin-top: 21px;
    margin-bottom: 21px;
}

main section.experiences div article p{
    color: var(--clr-light-gray);
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    text-align: center;
}

/* slider */

/* - - - - - - - - -  4th SECTION: 'get-started' - - - - - - - - -*/
main section.get-started {
    background-color: var(--clr-salmon);
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.get-started h6{
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    padding: 65px;
    margin-left: 100px;
    max-width: 700px;

}

main section.get-started button.gs-white {
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
    padding: 12.5px 30.5px;
    margin-right: 140px;
    margin-left: 0px;
    width: auto;
    /* text */
    color: var(--clr-salmon);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
}

main section.get-started button.gs-white:hover{
    background-color: salmon;
    color: white;
}

/* - - - - - - - - - FOOTER - - - - - - - - -*/
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-dark-grey);
    padding: 60px;
}

/* logo */
footer article div.logo{
    margin-top: 30px;
    margin-bottom: 70px;
}

footer article div.logo span{
    color: white;
    font-weight: 500;
    font-size: 35px;
}

/* social media */
footer article div.icons__social-media a {
    color: white;
    text-decoration: none;
    margin-right: 14px;
}

footer article div.icons__social-media a:hover{
    color: var(--clr-salmon);
}

/* lists */
footer div.links{
    display: flex;
    margin-top: 5vh;
}

footer div.links div.legals{
    margin-left: 35vh;
}

footer ul li{
    list-style-type: none;
    padding-bottom: 3vh;
}

footer ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

footer ul li a:hover{
    color: var(--clr-salmon);
}

/* search bar*/
footer div.search-bar{
    margin-top: 30px;
}
footer div.search-bar input[type="email"] {
    border: none;
    border-radius: 50px;
    height: 40px;
    width: auto;
}
::placeholder { 
    opacity: 1; 
    padding: 15px;
}

input:invalid {
    color: red;
}

footer div.search-bar button {
    border: none;
    background: var(--clr-salmon);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 12.5px 30.5px;
    margin-left: 10px;
    /* text */
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    cursor: pointer;
}

footer div.search-bar button:hover{
    background-color: salmon;
}

/* copyright*/
footer p.copyright {
    color: var(--clr-light-gray);
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    margin-top: 80px;
    padding-left: 80px;
}

/* FOR CELLPHONES */
/* Hice las pruebas en Google Responsive, 400 x 536 en 100%.
Sé que debería mejorar el que no le afecten los cambios en pequeñas 
diferencias en las medidas, quedará como desafío en las vacaciones :) */
@media (max-width: 400px){
    /* HEADER */
    header a img.logo{
        margin-left: 0px;
        padding-left: 0px;
        display: inline-block;
    }
    header button {
        display: none;
    }
    /* hamburguer menu */
    header ul.menu{
        display: none;
        background: var(--clr-butter-white);
        padding-right: 40px;
    }
    header label.hamburguer {
        display: inline-block;
        margin-left: 100px;
    }
    header nav ul.menu{
        position: absolute;
        z-index: 100;
    }
    header nav ul.menu li{
        margin-bottom: 20px;
    }
    /* 1st SECTION */
    main section.banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    section.banner div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 6vh;
    }
    section.banner div h6{
        text-align: center;
        width: 80vh;
    }
    main section.banner img{
        width: 300px;
        margin-left: 10vh;
        padding-left: 0px;
        z-index: 1;
    }
    main section.banner div p{
        margin-right: 0px;
        padding-right: 0px;
        text-align: center;
        width: 45vh;
    }
    main section.banner button{
        margin-left: 15vh;
    }
    /*2nd SECTION */    
    main section.differences{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    main section.differences h5 {
        margin-left: 15vh;
    }

    main section.differences div.intro p{
        margin-left:  20vh;
        margin-bottom: 10vh;
        width: 50vh;
    } 
    main section.differences p{
        margin: 3vh 3vh;
    }
    main section.differences ol{
        margin-left: 0px;
    }
    main section.differences ol li::before {
        padding: 6px 12px;
    }
    main section.differences li div {
        margin-left: 100px;
    }
    /* 3rd SECTION */
    section.experiences article.hide-mb{
        display: none;
    }
    /* 4th SECTION */
    main section.get-started{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main section.get-started h6{
        margin: 8vh 3vh 3vh 3vh;
        padding: 1vh;
    }
    main section.get-started button.gs-white{
        margin: 0vh 3vh 8vh 3vh;
    }
    /* FOOTER */
    footer{
        display: flex;
        flex-direction: column-reverse;
    }
    footer div.search-bar{
        display: flex;
        margin-bottom: 8vh;
    }
    footer article{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 15vh;
    }
    footer article div.icons__social-media a {
        font-size: 5vh;
        padding-left: 2vh;
    }
    footer div.links div.legals{
        margin-left: 15vh;
    }
    footer p.copyright{
        display: none;
        
    }
}